!!!
%html
  %head
    %title= @meta[:title]
    %meta{:charset => "UTF-8"}/
    = render partial: 'blogo/shared/meta'
    = csrf_meta_tags
    = stylesheet_link_tag "blogo/blog"
    = stylesheet_link_tag "blogo"
    = auto_discovery_link_tag :atom, blogo_feed_path
    = render 'blogo/shared/google_analytics'
  %body
    %header.blogo-header
      .header-titles
        %a.navbar-brand{:href => root_path}
          %img.img-responsive.genie-logo{:alt => "", :src => "assets/logo.png"}
      .header-icons
        = render partial: 'blogo/social_icons'
    #container
      #content
        .pure-g-r
          .pure-u-3-4
            = yield
          .pure-u-1-4
            = render partial: 'blogo/shared/aside'