%hr
%h1= section.allies_title
- Ally.all.each do |ally|
  .col-lg-2.each-ally
    .ally-picture
      = link_to ally.link, :target => "_blank" do
        = image_tag(ally.ally_logo)
    .ally-info.hide
      %p= ally.name
