- slides = Carrousel.all
.container
  #myCarousel.col-lg-12.carousel.slide{"data-ride" => "carousel", :style => "background-color: #{section.background_color}"}
    / Indicators
    %ol.carousel-indicators
      - slides.count.times do |i|
        - li_klass = "#{i == 0 ? 'active' : nil}"
        %li{:class => li_klass, "data-slide-to" => i, "data-target" => "#myCarousel"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      - slides.each do |slide|
        - item_klass = "#{slide.position == 1 ? 'active' : nil}"
        .item{:class => item_klass}
          = raw slide.carousel_content