%hr
%h1= section.clients_title
- Client.all.each do |client|
  .col-lg-1.each-client
    .client-picture
      = link_to client.link, :target => "_blank" do
        = image_tag(client.client_logo)
    .client-info.hide
      %p= client.name
