/ %section#contact
/   .row
/     .col-lg-10.col-lg-offset-1
/       %form#contactForm{:name => "sentMessage", :novalidate => "", :data => {:url => contact_path}}
/         .row.control-group
/           .form-group.col-xs-12.floating-label-form-group.controls
/             %input#name.form-control{"data-validation-required-message" => t("contact.name_validation"), :placeholder => t("contact.name_placeholder"), :required => "", :type => "text"}/
/             %p.help-block.text-danger
/         .row.control-group
/           .form-group.col-xs-12.floating-label-form-group.controls
/             %input#email.form-control{"data-validation-required-message" => t("contact.email_validation"), :placeholder => t("contact.email_placeholder"), :required => "", :type => "email"}/
/             %p.help-block.text-danger
/         .row.control-group
/           .form-group.col-xs-12.floating-label-form-group.controls
/             %input#subject.form-control{"data-validation-required-message" => t("contact.subject_validation"), :placeholder => t("contact.subject_placeholder"), :required => "", :type => "text"}/
/             %p.help-block.text-danger
/         .row.control-group
/           .form-group.col-xs-12.floating-label-form-group.controls
/             %textarea#message.form-control{"data-validation-required-message" => t("contact.message_validation"), :placeholder => t("contact.message_placeholder"), :required => "", :rows => "1"}
/             %p.help-block.text-danger
/         #success
/         .row
/           .form-group.col-xs-12
/             %button.btn.btn-success.btn-lg{:type => "submit", :data => { :success => t("contact.success_message"), :error => t("contact.error_message") }}= t("contact.submit")

- bg_color = @note.present? ? @note.bg_color : "#ffffa5"
- text_color = @note.present? ? @note.text_color : "#000000"

.quote-container
  /%i.pin
  %blockquote.note{:style => "background-color: #{bg_color}"}

    %form#contactForm{:name => "sentMessage", :novalidate => "", :data => {:url => contact_path}}

      %input#name.form-control{"data-validation-required-message" => t("contact.name_validation"), :placeholder => t("contact.name_placeholder"), :required => "", :type => "text", :style => "color: #{text_color}"}
      %p.help-block.text-danger

      %input#email.form-control{"data-validation-required-message" => t("contact.email_validation"), :placeholder => t("contact.email_placeholder"), :required => "", :type => "email", :style => "color: #{text_color}"}
      %p.help-block.text-danger

      %input#subject.form-control{"data-validation-required-message" => t("contact.subject_validation"), :placeholder => t("contact.subject_placeholder"), :required => "", :type => "text", :style => "color: #{text_color}"}
      %p.help-block.text-danger

      %textarea#message.form-control{"data-validation-required-message" => t("contact.message_validation"), :placeholder => t("contact.message_placeholder"), :required => "", :rows => "1", :style => "color: #{text_color}"}
      %p.help-block.text-danger

      #success
      
      %button.btn.btn-success.btn-lg{:type => "submit", :data => { :success => t("contact.success_message"), :error => t("contact.error_message") }}= t("contact.submit")
