- Factory.all.each do |factory|
  .col-lg-3.each-factory
    %h3.name= factory.name
    .factory{:style => "background-color: #{factory.bg_color}"}
      = image_tag(factory.factory_image)
    .factory-hover.hide{:style => "background-image: url(#{factory.factory_image.url})"}
      .text
        %h3= factory.title
        %p= raw factory.description
