= form_for @section do |f|
  - if @section.errors.any?
    #error_explanation
      %h2= "#{pluralize(@section.errors.count, "error")} prohibited this section from being saved:"
      %ul
        - @section.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :formated_title
    = f.text_field :formated_title
  .field
    = f.label :content
    = f.text_area :content
  .actions
    = f.submit 'Save'
