- main_address = Address.where(:main_address => true).last
- lat = main_address.present? ? main_address.lat : "5.0468017"
- lng = main_address.present? ? main_address.lng : "-75.4827315"

:javascript

  function initMap() {
    var myLatLng = {lat: #{lat}, lng: #{lng}};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Génie'
    });
  }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyDIdyiobaMh2FTUdbLurIYN8XiK_2kAT1E&callback=initMap"}

%footer.text-center#contact
  .footer-above
    .container
      .section-blank
      .row
        .col-lg-12
          .col-lg-7.hidden-xs
            #map{:style => "width:600px; height:300px; border:0;"}
            / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "306", :src => "https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d387.08444246173525!2d-75.48270416499281!3d5.046664712813898!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1455940578542", :style => "border:0", :width => "600"}
          .col-lg-5
            = render :partial => "sections/contact_me"

        .col-lg-12.extra-info
          .footer-col.col-md-3
            %h3 Dirección
            - Address.all.each do |address|
              %p= address.address_line_1
              %p= address.address_line_2
              %p= address.city
              %br
          .footer-col.col-md-3
            %h3 Redes Sociales
            %ul.list-inline
              %li
                %a.btn-social.btn-outline{:href => "http://www.facebook.com/Genieconsultoria", :target => "_blank"}
                  %span.icon-facebook
              %li
                %a.btn-social.btn-outline{:href => "http://www.twitter.com/genieconsultor", :target => "_blank"}
                  %span.icon-twitter
          .footer-col.col-md-3
            %h3 Contacto
            %p= Address.main_address.try(:contact_email) || "genie@genieconsultoria.com"
            %br
            - Address.all.each do |address|
              %p= address.phone
              %p= address.mobile
              %br
          .footer-col.col-md-3.links
            %h3 Enlaces
            - Link.all.each do |link|
              %a.col-lg-12{:href => link.link, :target => "_blank"}
                %span= link.name

  .footer-below
    .container
      .row
        .col-lg-12
          © 2014 Génie Consultoría SAS. Manizales - Caldas - Colombia
