%h1= section.genies_title
- Person.all.each do |person|
  .col-lg-4.each-person
    .person-effects
      .person-picture
        = image_tag(person.picture)
      .person-info
        %p.rol= person.rol
        %p= person.passion
    - if person.linkedin_url.present?
      %a.person-name{:href => person.linkedin_url}
        = person.name
        %span.icon-linkedin
    - else
      %p.person-name= person.name