%body#page-top.index
  %nav.navbar.navbar-default.navbar-fixed-top{:style => "background-color: #{@header.bg_color}; background-image: url(#{@header.bg_image.url})"}
    .container
      .navbar-header.page-scroll.col-lg-4
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        / %a.navbar-brand{:href => "#page-top"} génie
        %a.navbar-brand{:href => "#page-top"}
          = image_tag(@header.normal_image, :class => "img-responsive genie-logo")
          = image_tag(@header.thin_image, :class => "img-responsive genie-slogan hide")

      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.hidden
            %a{:href => "#page-top", :style => "{color: #{@header.link_color}} :hover {color: #{@header.link_hover_color}}; text-align: center; padding-top: 10px;"}
          - @sections.each do |section|
            - if section.header_title.present?
              %li.page-scroll{:style => "width: #{@header.links_width}; border-left: 1px #{@header.border_color} solid; height: 40px; margin-top: 10px;"}
                %a{:href => "##{section.formated_title}", :style => "{color: #{@header.link_color}} :hover {color: #{@header.link_hover_color}}; text-align: center; padding-top: 10px;"}= section.header_title
          %li.page-scroll{:style => "width: #{@header.links_width}; border-left: 1px #{@header.border_color} solid; height: 40px; margin-top: 10px;"}
            %a{:href => "#contact", :style => "color: {#{@header.link_color}} :hover {color: #{@header.link_hover_color}}; text-align: center; padding-top: 10px;"}= t("contact.title")
          %li.page-scroll.hidden-md{:style => "width: #{@header.links_width}; border-left: 1px #{@header.border_color} solid; border-right: 1px #{@header.border_color} solid; height: 40px; margin-top: 10px;"}
            %a{:href => "https://genieconsultoriablog.wordpress.com/", :style => "{color: #{@header.link_color}} :hover {color: #{@header.link_hover_color}}; text-align: center; padding-top: 10px;", :target => "_blank"} Blog
          %li.page-scroll.hidden-lg.hidden-md{:style => "width: #{@header.links_width}; border-left: 1px #{@header.border_color} solid; border-right: 1px #{@header.border_color} solid; height: 40px; margin-top: 10px;"}
            %a{:href => "https://www.zonapagos.com/t_genie/pagos.asp", :style => "{color: #{@header.link_color}} :hover {color: #{@header.link_hover_color}}; text-align: center; padding-top: 10px;", :target => "_blank"} 
              Pagos
            