= render :partial => "sections/top"

- @sections.each do |section|
  - bg_color = section.background_color.present? ? "background-color:#{section.background_color}" : ""
  - title_color = section.title_color.present? ? "color:#{section.title_color}" : ""
  - text_color = section.text_color.present? ? "color:#{section.text_color}" : ""

  - if section.color_separator.present?
    .separator{:style => "background-color:#{section.color_separator}"}
  - elsif section.bg_separator.present?
    .separator{:style => "background-image:#{section.bg_separator}"}


  - if section.section_blank.present?
    - klass = "section-blank"
  - else
    - klass = "half-blank-section"

  - if section.section_type == "carrusel"
    %section.carousel-container{:id => "#{section.formated_title}", :style => "#{bg_color}"}
      %div{:class => klass}
      .col-lg-12
        = render :partial => "sections/carrousel", :locals => {:section => section}
  - elsif section.section_type == "fabricas"
    %section.modales-container{:id => "#{section.formated_title}", :style => "#{bg_color}"}
      %div{:class => klass}
      .col-lg-12
        = render :partial => "sections/factories", :locals => {:section => section}
  - elsif section.section_type == "aliados"
    %section.clients-container{:id => "#{section.formated_title}", :style => "#{bg_color}"}
      %div{:class => klass}
      .col-lg-12
        = render :partial => "sections/people", :locals => {:section => section}
      .col-lg-12
        = render :partial => "sections/allies", :locals => {:section => section}
      .col-lg-12
        = render :partial => "sections/clients", :locals => {:section => section}
  - else
    %section{:id => "#{section.formated_title}", :style => "#{bg_color}"}
      .container
        %div{:class => klass}
        .text-center{:style => "#{title_color}"}
          %h2= section.title
        .row{:style => "#{text_color}"}
          = raw section.content

= render :partial => "sections/location"
