%p#notice= notice

%p
  %b Title:
  = @section.title
%p
  %b Formated title:
  = @section.formated_title
%p
  %b Content:
  = @section.content

= link_to 'Edit', edit_section_path(@section)
\|
= link_to 'Back', sections_path
