!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Correo de contacto
    %p El usuario #{@user} con correo #{@email} escribió:
    %p= "#{@message}"