/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.genie-location{
   height: 300px;
}

@font-face {
  font-family: 'GeometrySoftPro';
  src:url('Geometry-Soft-Pro-Bold N.eot');
  src:url('Geometry-Soft-Pro-Bold N.eot?#iefix') format('embedded-opentype'),
    url('Geometry-Soft-Pro-Bold N.svg#Geometry-Soft-Pro-Bold N') format('svg'),
    url('Geometry-Soft-Pro-Bold N.woff') format('woff'),
    url('Geometry-Soft-Pro-Bold N.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon.eot');
  src:url('icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon.svg#icomoon') format('svg'),
    url('icomoon.woff') format('woff'),
    url('icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}