@font-face {
  font-family: 'GeometrySoftPro';
  src:url('Geometry-Soft-Pro-Bold N.eot');
  src:url('Geometry-Soft-Pro-Bold N.eot?#iefix') format('embedded-opentype'),
    url('Geometry-Soft-Pro-Bold N.svg#Geometry-Soft-Pro-Bold N') format('svg'),
    url('Geometry-Soft-Pro-Bold N.woff') format('woff'),
    url('Geometry-Soft-Pro-Bold N.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('icomoon.eot?q9ai32');
    src:    url('icomoon.eot?q9ai32#iefix') format('embedded-opentype'),
        url('icomoon.ttf?q9ai32') format('truetype'),
        url('icomoon.woff?q9ai32') format('woff'),
        url('icomoon.svg?q9ai32#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.genie-logo {
  margin: 0;
  margin-top: -10px;
  width: 22%;
}

.genie-slogan {
  margin-top: 12px;
  width: 80%;
}

.icon-connection:before {
    content: "\e604";
}
.icon-disk:before {
    content: "\e600";
}
.icon-notification:before {
    content: "\e605";
}
.icon-plus:before {
    content: "\e606";
}
.icon-enter:before {
    content: "\e601";
}
.icon-arrow-up:before {
    content: "\e900";
}
.icon-arrow-left:before {
    content: "\e602";
}
.icon-facebook:before {
    content: "\e901";
}
.icon-twitter:before {
    content: "\e902";
}
.icon-feed:before {
    content: "\e903";
}
.icon-bulb:before {
    content: "\e904";
}
.icon-paperplane:before {
    content: "\e603";
}

.blogo-header {
    background: #80b9bc;
    color: #fff;
    padding: 10px 25px;
    height: 85px;
    position: relative;
}

.header-titles {
    position: absolute;
}

.blogo-header .header-icons {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.blogo-header .twitter-icon {
    background-image: url(/assets/blogo/twitter-icon-5fb6533eacca6752d11e8412d2f0a43bfb28c54d8f9a552af99c5cb7b986a5e8.png);
}

.blogo-header .rss-icon {
    background-image: url(/assets/blogo/rss-icon-6c0fb65a8a9fd6582b8d537b40405f808b1db22c8676ebbce01fa34ab7556a66.png);
}

.blogo-header .rss-icon, .blogo-header .twitter-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.header-titles a.navbar-brand {
	color: #ffffff;
    float: left;
    font-family: "GeometrySoftPro";
    font-size: 5em;
    height: 60px;
    line-height: 1;
    margin-top: 0;
    padding: 0 20px;
    text-decoration: none;
    text-transform: lowercase;
    transition: all .3s;
}

#container {
    margin: 0 auto;
    max-width: 100%;
    background: #FFF;
    display: block;
    box-shadow: 0px 0px 10px #aaa;
}

.btn-social {
    color: #FFF;
    display: inline-block;
    border: 0;
    border-radius: 0;
    font-size: 50px;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
}

.btn-social:visited {
    color: #FFF;
}

.btn-social:focus,
.btn-social:hover
{
    background: transparent;
    border: none;
    color: #18bc9c;
    text-decoration: none;
}

.button-secondary {
    background: #18bc9c;
}

.pure-button{
	background-color: #18bc9c;
	border-radius: 10px !important;
	color: #FFF;
}
