// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section-blank {
    margin: 110px auto 0;
}

.profile-image {
	max-width: 350px;
}

.genie-logo {
  margin: 0;
  margin-top: -10px;
	width: 45%;
}

.genie-slogan {
  margin-top: 12px;
  width: 80%;
}

#contact {
	background-color: #2c3e50;
  border-radius: 10px;
	color: #ffffff;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact .form-group {
  margin-bottom: 0px;
}

.quote-container {
  margin-top: 0;
  position: relative;
}

.quote-container .btn-lg {
  padding: 10px 27px;
}

.note {
  color: #333;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note {
  display: block;
  margin: 0;
  text-align: right;
}

.yellow {
  background: #ffffa5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.yellow input, .yellow textarea {
  background-color: transparent;
  border-bottom: 1px dashed #000;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #000;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';

  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.form-control {
	color: #000000;
}

.carousel-container {
  background-color: transparent;
}

.carousel {
	height: 550px;
	margin-top: 100px;
}

.carousel h3 {
	text-transform: none;
}

.carousel-indicators {
	bottom: 5%;
}

.carousel-indicators .active {
  background-color: #FF8300;
  width: 20px;
  height: 20px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border: 3px solid #FF8300;
  background-color: transparent;
}

.carousel-image {
  margin-top: 50px;
	max-height: 420px;
}

.carousel .fill {
  background-repeat: no-repeat;
  background-size: 100% !important;
  height: 500px !important;
  width: 100% !important;
}

.item {
  background-size: cover;
  height: 500px;
  margin: 30px auto;
  width: 100%;
}

.item-text {
  height: 150px;
  padding: 3% 10%;
  text-align: center;
  width: 100%;
}

.item-text h3 {
  font-family: "amatic_scregular";
  font-size: 34px;
  font-weight: bold;
}

.image, .image-bottom {
  height: 350px;
  background-color: #123456;
}

.image img, .image-bottom img {
  max-height: 320px;
  max-width: 70%;
  padding-top: 2%;
}

.image-bottom img {
  padding-top: 0;
}

.video {
  margin-top: 170px;
  text-align: center;
}

.video h2 {
  margin-bottom: 30px;
}

.modales-container, .modales-container .col-lg-12 {
  margin: 0;
  padding: 0;
}

.modales-container {
  margin: 5px 0 0 0;
}

.half-blank-section {
  margin: 35px 0 0 0;
}

.factory {
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  max-height: 500px;
  min-height: 500px;
  padding: 0;
}

.factory img {
  border-radius: 10px;
  max-height: 500px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
  width: 632.5px;
}

.factory-hover {
  border: 0;
  border-radius: 10px;
  color: #fff;
  margin: 0;
  max-height: 500px;
  min-height: 500px;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

.factory-hover .text {
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-flow: column wrap;
  height: 500px;
  justify-content: center;
  text-align: left;
}

.factory-hover .text h1 {
  font-weight: bolder;
  text-align: center;
}

.factory-hover .text p {
  font-size: 14px;
  padding: 0 10%;
  text-align: left;
}

.each-factory {
  margin-top: 80px;
}

.each-factory .name {
  font-weight: bolder;
  text-align: center;
}

.clients-container {
  text-align: center;
}

.person-name {
  float: left;
  font-size: 22px;
  height: 35px;
  margin: 10px 0 40px 0;
  width: 100%;
}

.person-name:hover {
  background-color: transparent;
  color: #000;
}

.each-person {
  margin: 0 auto;
}

.person-effects {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.person-effects img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -moz-transform: translate(0px);
  -webkit-transform: translate(0px);
  -o-transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.person-effects .person-info {
  display: block;
  height: 50%;
  padding-right: 5px;
  position: absolute;
  right: 30%;
  text-align: right;
  top: 18%;
  width: 30%;
  z-index: -1;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.person-effects:hover img {
  transform: translate(-80px, 0px);
  -ms-transform: translate(-80px, 0px);
  -moz-transform: translate(-80px, 0px);
  -webkit-transform: translate(-80px, 0px);
  -o-transform: translate(-80px, 0px);
}

.person-effects:hover .person-info {
  transform: translate(90px, 0px);
  -ms-transform: translate(90px, 0px);
  -moz-transform: translate(90px, 0px);
  -webkit-transform: translate(90px, 0px);
  -o-transform: translate(90px, 0px);
}

.each-client {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: center;
  margin-bottom: 20px;
}

.each-client .client-picture {
  display: block;
}

.each-client img {
  max-height: 100px;
}

.each-ally {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 150px;
  justify-content: center;
  margin-bottom: 20px;
}

.each-ally .ally-picture {
  display: block;
}

.each-ally img {
  max-height: 150px;
}

.extra-info {
  margin-bottom: 30px;
  margin-top: 30px;
}

.btn-social {
  color: #aaa;
}

.btn-social:visited {
  color: #aaa !important;
}

.links a {
  font-family: "Candara";
  color: #000;
  font-size: 20px;
}

.links a:hover {
  background-color: transparent !important;
  color: #18bc9c !important;
  text-decoration: none !important;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.pse-button {
    z-index: 1049;
    position: fixed;
    right: 0%;
    top: 78px;
    width: 200px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

.separator {
  height: 50px;
  width: 100%;
}

.rol {
  font-size: 16px;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .lead {
    font-size: 22.5px;
  }

  .genie-logo {
    margin-top: -46px;
  }

  .pse-button {
    right: -30px;
    top: 38px;
    width: 150px;
  }

  iframe {
    width: 360px;
  }

  .navbar-default .navbar-nav > li {
    border: none !important;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 20px;
    text-align: left !important;
  }
}
