
%a.btn-social.btn-outline{:href => "http://www.facebook.com/Genieconsultoria", :target => "_blank"}
  %span.icon-facebook

%a.btn-social.btn-outline{:href => "http://www.twitter.com/genieconsultor", :target => "_blank"}
  %span.icon-twitter

%a.btn-social.btn-outline{:href => blogo_feed_path, :target => "_blank"}
  %span.icon-feed