!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "399xPvljX-hugizWeigjfSMIgtR9Dds6qutUbwjDmOk", :name => "google-site-verification"}

    = display_meta_tags title: 'Génie Consultoría', description: "Inspiramos el crecimiento de las regiones y de sus organizaciones.", keywords: %w[genie consultoria crecimiento innovacion estrategia oportunidades liderazgo ventas rentabilidad], canonical: root_url, icon: '/favicon.ico', alternate: { "es-CO" => root_url }

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = yield

    .pse-button.visible-lg
      %a{:href => TablePayLink.try(:first).try(:link), :target => "_blank"}
        = image_tag("boton-pagos.png")

    .scroll-top.page-scroll.visible-xs.visible-sm.visible-md.visible-lg
      %a.btn.btn-primary{:href => "#page-top"}
        %span.icon-arrow-up
        